<div id="reviewerDiv"class="medium-7 medium-centered large-9 large-centered columns" ng-controller="reviewAppController">

  <form name="reviewerApplication" id="reviewerAppDiv" ng-submit="submitRevApp()">
    <div class="reviewer-application">
      <h4 class="text-center"><strong>Sign Up to become a proposal reviewer</strong></h4>
      <br>

      <label for="firstName"> First name
        <input ng-model="firstName" type="text" name="firstName" maxlength="20"  required autofocus>
      </label>

      <label>Last name
        <input ng-model="lastName" type="text"  maxlength="20" required autofocus>
      </label>
      <hr>
      <h5>Background</h5>
      <label>University or place of employment
        <input ng-model="university" type="text"  required autofocus>
      </label>

      <label ng-controller="educationController">select your level of education
        <select ng-model="selectedEducation" id="selectedEducation" ng-options="education for education in degrees" required>
        </select>
      </label>

      <label ng-controller="disciplineController">Select your discipline
        <select ng-model="selectedDiscipline" id="selectedDiscipline" ng-options="discipline for discipline in disciplines" >
        </select>
      </label>

      <label ng-controller="expertiseController">Select your area of expertise or interest
        <select ng-model="selectedExpertise" id="selectedExpertise" ng-options="expertise for expertise in expertises" >
        </select>
      </label>

      <div id="expertiseOther">
        <label>Please specify other:
          <input type="text" autofocus>
        </label>
      </div>

      <hr>
        <h5>Address</h5>
        <label>Street address
          <input ng-model="mainAddress" type="text"  required autofocus>
        </label>

        <label>Street address 2
          <input ng-model="secondaryAddress" type="text"  required autofocus>
        </label>

        <label>Apartment or office #
          <input ng-model="apartmentNum" type="text" required autofocus>
        </label>

        <label>City
          <input ng-model="city" type="text" required autofocus>
        </label>

        <label>State
          <input ng-model="state" type="text" required maxlength="2" autofocus>
        </label>

        <label>Zip code
          <input ng-model="zip" type="text"  autofocus>
        </label>
        <hr>
        <h5>Contact</h5>

        <label>Cell Phone
          <input ng-model="cell" type="text" required autofocus>
        </label>

        <label>Home Phone
          <input ng-model="home" type="text" required autofocus>


        <label>Email
          <input ng-model="email" type="email" placeholder="somebody@example.com"  required autofocus>
        </label>

        <div class="large-2 medium-3">
          <p><button type="submit" class="button expanded">Register</button></p>
          <p><input type="button" ng-click="reset()" value="Reset" /></p>
        </div>


      </div>
    </form>
</div>
