<div class="medium-6 medium-centered large-4 large-centered columns" ng-app="revAppController" ng-controller="reviewAppController"
>

  <form name="reviewerApplication" ng-submit="submitRevApp()">
    <div class="reviewer-application">
      <h4 class="text-center">Sign Up to become a proposal reviewer</h4>

      <label> First name
        <input ng-model="firstName" type="text" required autofocus>
      </label>

      <label>Last name
        <input ng-model="lastName" type="text" required autofocus>
      </label>

      <label>University or place of employment
        <input ng-model="university" type="text" required autofocus>
      </label>

      <label>
        Select your area of expertise or interest
        <div ng-controller="expertiseController">
        <select ng-model="selectedExpertise" ng-options="x for x in expertise"></select>
        </div>
      </label>

        <label>Street address
          <input ng-model="streetAddress1" type="text" required autofocus>
        </label>

        <label>Street address 2
          <input ng-model="streetAddress2" type="text"  autofocus>
        </label>

        <label>Apartment or office #
          <input ng-model="apartmentNum" type="text" autofocus>
        </label>

        <label>City
          <input ng-model="city" type="text" required autofocus>
        </label>

        <label>State
          <input ng-model="state" type="text" required autofocus>
        </label>

        <label>Zip code
          <input ng-model="zip" type="text" required autofocus>
        </label>

        <label>Cell
          <input ng-model="phone1" type="text" required autofocus>
        </label>

        <label>Home phone
          <input ng-model="phone2" type="text" required autofocus>
        </label>

        <label>Email
          <input ng-model="email" type="email" placeholder="somebody@example.com" required autofocus>
        </label>
<!--
        <p><button type="submit" class="button expanded">Register</button></p>
        <p><input type="button" ng-click="reset()" value="Reset" /></p>
-->
      </div>
    </form>
</div>
