<div class="medium-6 medium-centered large-4 large-centered columns" ng-controller="presAppController">
  <form name="presentationSubmission" ng-submit="submitSubmissionApp()">
    <div class="reviewer-application">
      <h4 class="text-center">Presentation Proposal Submission Page</h4>

      <label> First name
        <input ng-model="firstName" type="text" required autofocus>
      </label>

      <label>Last name
        <input ng-model="lastName" type="text" required autofocus>
      </label>

      <label>University or place of employment
        <input ng-model="university" type="text" required autofocus>
      </label>

      <label>
        Please enter 4 keywords that describe your presentation
        <textarea rows="2"></textarea>
      </label>

      <label>
        Please enter a brief description of your presentation <br /> (2 sentences)
        <textarea rows="4"></textarea>
      </label>

      <label>
        Please enter an abstract of your presentation<br />(250 word maximum)
        <textarea rows="10"></textarea>
<!--
     ng-controller="wordController as wordController"
        <textarea ng-model="wordController.Text" ng-change="wordController.UpdateLengths()" rows="10"></textarea>
        <p ng-model="wordController.WordsLength">
          You have entered <font ng-style="wordController.FontStyle">{{wordController.WordsLength}}</font>/4 words</p>
        <p>You have used 0/250 words</p>
-->
      </label>

      <p><button type="submit" class="button expanded">Submit Proposal</button></p>
      <p><input type="button" ng-click="reset()" value="Reset" /></p>

    </div>
  </form>
</div>
